<div class="main practice_lists">
    <div class="title">
        <h2>練習日誌</h2>
    </div>
    <div class="contents">
        <% @posts.each do |post| %>
            <div class="content">
                <div class="date-timezone">
                    <p><%= post.practice_day_year %>/<%= post.practice_day_month %>/<%= post.practice_day_day %> <%= post.practice_timezone %></p>
                </div>
                <div class="practice">
                    <div class="result">
                        <% if post.kind_of_practice == "インターバル" or post.kind_of_practice == "レペティション" %>
                            <p><%= post.place %>/<%= post.kind_of_practice %></p>
                            <div class="distance-time">
                                <div class="distance">
                                    <span class="figure">
                                        <%= post.post_records.where(record_type: 0)[0].distance_m %>
                                    </span>
                                    <span>m</span>
                                </div>
                                <div class="time">
                                    <p>平均タイム</p>
                                    <p class="figure">
                                        <%= post.time_s.div(60) %>:<%= (post.time_s % 60).round(1) %>
                                    </p>
                                </div>
                                <div class="pace">
                                    <p>本数</p>
                                    <p class="figure"><%= post.num_s %>本</p>
                                </div>
                            </div>
                            <div class="distance-time">
                                <div class="distance">
                                    <span class="figure">
                                        <%= post.post_records.where(record_type: 1)[0].distance_m %>
                                    </span>
                                    <span>m</span>
                                </div>
                                <div class="time">
                                    <p>平均タイム</p>
                                    <p class="figure">
                                        <%= post.time_r.div(60) %>:<%= (post.time_r).round(1) % 60 %>
                                    </p>
                                </div>
                            </div>
                        <% else %>
                            <p><%= post.place %>/<%= post.kind_of_practice %></p>
                            <div class="distance-time">
                                <div class="distance">
                                    <span class="figure">
                                        <%= post.post_records[0].distance_km %>
                                    </span>
                                    <span>km</span>
                                </div>
                                <div class="time">
                                    <p>時間</p>
                                    <p class="figure">
                                        <%= post.post_records[0].time_hour %>:<%= post.post_records[0].time_minute %>:<%= post.post_records[0].time_second %>
                                    </p>
                                </div>
                                <div class="pace">
                                    <p>ペース</p>
                                    <p class="figure"><%= post.post_records[0].pace_minute %>:<%= post.post_records[0].pace_second %></p>
                                </div>
                            </div>
                        <% end %>
                    </div>
                    <div class="detail">
                        <div class="weather">
                            <%= image_tag "weather-icon.svg" %>
                            <p class="weather-kind">天気</p>
                            <p><%= post.weather %></p>
                        </div>
                        <div class="strength">
                            <%= image_tag "strength-icon.svg" %>
                            <p class="strength-phase">強度</p>
                            <div class="strength-value">
                            <% for i in 1..post.strength.to_i %>
                                <div class="square-fill"></div>
                            <% end %>
                            <% for i in 1..(5 -post.strength.to_i) %>
                                <div class="square"></div>
                            <% end %>
                            </div>
                        </div>
                        <div class="thoughts">
                            <%= post.content %>
                        </div>
                        <div class="buttons">
                            <%= link_to '編集', edit_post_path(post), remote: true %>
                            <%= link_to("削除", "/posts/#{post.id}/destroy_main", {method: "post"}) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>
<div class="new-post">
    <%= link_to new_post_path, remote: true, class: "btn btn-lg, btn-primary plus" do %>
        <p>＋</p>
    <% end %>
</div>
<div id="post-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>