<div class="main practice_lists">
    <div class="title">
        <h2>練習日誌</h2>
    </div>
    <div class="contents">
        <% @posts.each do |post| %>
            <div class="content">
                <div class="date-timezone">
                    <p><%= post.practice_day_year %>/<%= post.practice_day_month %>/<%= post.practice_day_day %> <%= post.practice_timezone %></p>
                </div>
                <div class="practice">
                    <div class="result">
                        <p><%= post.place %>/<%= post.kind_of_practice %></p>
                        <div class="distance-time">
                            <div class="distance">
                                <span class="figure">
                                    <%= post.post_records[0].distance_km %>
                                </span>
                                <span>km</span>
                            </div>
                            <div class="time">
                                <p>時間</p>
                                <p class="figure">
                                    <%= post.post_records[0].time_hour %>:<%= post.post_records[0].time_minute %>:<%= post.post_records[0].time_second %>
                                </p>
                            </div>
                            <div class="pace">
                                <p>ペース</p>
                                <p class="figure"><%= post.post_records[0].pace_minute %>:<%= post.post_records[0].pace_second %></p>
                            </div>
                        </div>
                    </div>
                    <div class="detail">
                        <div class="weather">
                            <%= image_tag "/assets/weather-icon.svg" %>
                            <p class="weather-kind">天気</p>
                            <p><%= post.weather %></p>
                        </div>
                        <div class="strength">
                            <%= image_tag "/assets/strength-icon.svg" %>
                            <p class="strength-phase">強度</p>
                            <div class="strength-value">
                            <% for i in 1..post.strength.to_i %>
                                <div class="square-fill"></div>
                            <% end %>
                            <% for i in 1..(5 -post.strength.to_i) %>
                                <div class="square"></div>
                            <% end %>
                            </div>
                        </div>
                        <div class="thoughts">
                            <%= post.content %>
                        </div>
                        <div class="buttons">
                            <%= link_to("編集", "/posts/#{post.id}/edit") %>
                            <%= link_to("削除", "/posts/#{post.id}/destroy_main", {method: "post"}) %>
                        </div>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>