<div class="signup">
  <div class="title">
    <h2>ログイン</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="signup_content">
      <div class="field">
        <%= f.label :email, "メールアドレス", class: "label-name" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "dynamic-line" %>
        <div class="underline-center"></div>
      </div>
  
      <div class="field">
        <%= f.label :password, "パスワード", class: "label-name" %>
        <%= f.password_field :password, autocomplete: "current-password",class: "dynamic-line" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end %>
  
      <div class="actions-login">
        <%= f.submit "ログイン", class: "actions-btn" %>
      </div>
      <div class="another-pages">
          <%= render "devise/shared/links" %>
      </div>
      <div class="message">
        このサイトはreCAPTCHAで保護されており、Googleのプライバシーポリシーと利用規約が適用されます。
      </div>
    </div>

  <% end %>
</div>
